<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytincl.ereport.dao.AccountDao" >
  <resultMap id="BaseResultMap" type="com.ytincl.ereport.pojo.Account" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accountName" property="accountName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="accountType" property="accountType" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="deletestatus" property="deletestatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accountName, password, accountType, description, state, createTime, deletestatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByName" parameterType="java.lang.String" >
    delete from account
    where  accountName = #{accountName,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ytincl.ereport.pojo.Account" >
    insert into account (id, accountName, password, 
      accountType, description, state, 
      createTime, deletestatus)
    values (#{id,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=INTEGER})
  </insert>
  <insert id="accountAdd" parameterType="com.ytincl.ereport.pojo.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountName != null" >
        accountName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="accountType != null" >
        accountType,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="deletestatus != null" >
        deletestatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        #{deletestatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByName" parameterType="com.ytincl.ereport.pojo.Account" >
    update account
    <set >
      <if test="accountName != null" >
        accountName = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        accountType = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null" >
        deletestatus = #{deletestatus,jdbcType=INTEGER},
      </if>
    </set>
    where accountName = #{accountName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ytincl.ereport.pojo.Account" >
    update account
    set accountName = #{accountName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      accountType = #{accountType,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      deletestatus = #{deletestatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据用户名查出id 返回结果也可以写resultType ="com.ytincl.ereport.pojo.Account" -->
	<select id="querySingleAccount" parameterType="String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account where accountName=#{accountName}
	</select>
	<select id="getAccountByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account where accountName=#{accountName} and state = '1'
	</select>
	<select id="queryAllAccount" 
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from account
	</select>
</mapper>