<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台的日志记录 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5p|%m%n" />
		</layout>
	</appender>
    <!-- 每天 文件的日志记录 -->
	<appender name="DAILY" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/app/ytincl/logs/ereportdaily.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS}|%-5p|%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="ERROR" />
        </filter>
	</appender>
	<appender name="ROLLING" class="org.apache.log4j.RollingFileAppender">  
	    <param name="File" value="/app/ytincl/logs/ereport.log"/>  
	    <param name="MaxFileSize" value="10MB"/>  
	    <param name="MaxBackupIndex" value="9"/>  
	    <layout class="org.apache.log4j.PatternLayout">  
	      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS}|%-5p|%m%n"/>  
	    </layout>  
	</appender>
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">  
    	<param name="BufferSize" value="512"/>  
    	<param name="Blocking" value="false"/>  
    	<appender-ref ref="ROLLING"/>  
  	</appender>  
  	<appender name="ASYNC_LUA" class="org.apache.log4j.AsyncAppender">  
    	<param name="BufferSize" value="512"/>  
    	<param name="Blocking" value="false"/>  
    	<appender-ref ref="DAILY"/>  
  	</appender>
	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="ASYNC" />
		<appender-ref ref="ASYNC_LUA" />
		<appender-ref ref="CONSOLE" />
	</root>
	
	
</log4j:configuration>